.score {
  background-color: white;
  width: 250px;
  padding-top: 5px;
  padding-bottom: 12px;
  padding-left: 10px;
  border-radius: 10px;
  color: rgb(119, 119, 252);
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin: 0px 20px 0px 20px;
  text-align: center;
  border: black solid 1px;

}